/* base 共同 */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  // color: $primary;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: bold;
}

h2{
    font-size: 24px;
}

.material-icons {
    vertical-align: middle;
}

.text-sm {
    font-size: $font-size-sm;
}

.btn:hover {
  color: $secondary;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    border-color: #CDDDCD;
}

.main {
    width: 100%;
    margin-left: 296px;
}